/* styles.css */

body {
    background-color: black;
    /* Set the background to black */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    color: white;
    /* Set text color to white */
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    max-height: 80%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    color: white;
    /* Set text color to white */
    margin-bottom: 10px;
}

input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    /* Set text color to white */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#result {
    font-size: 24px;
    color: white;
    /* Set text color to white */
    margin-top: 20px;
}

.age-result {
    margin-top: 20px;
    /* Adjust the margin as needed */
}